*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

header{
   
    background-color: #6F175F;
   
}

.cabeca{
    display: flex;
    flex-direction: center; 
    align-items: center; 
    justify-content: center;
    padding-left: 500px;
}


.rosa{
    display: flex;
    flex-direction: row; 
    padding-left: 280px;
}

.tarja
  ul{
    
    text-decoration: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;    
    font-family: "Sofia", sans-serif;
    background-color: #F5D208CF;
    padding: 7px 8px;
    font-size: 20px;
    color: #6F175F;
}

.tarja a{
    color: #6F175F;
    text-decoration: none;
}

.imagem{
    width: 40px;
    height:40px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3dff0;
    font-family: "Sofia", sans-serif;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    border: 0;
}


.Contatos{
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 30px;
    color: #6F175F;
    font-family: "Sofia", sans-serif; ;
    flex-direction: column;
    display: flex;
}

.container {
    background-color: #6F175F;
    border-radius: 5px;
    border: 2px solid #f7f302;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #f7f302;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input {
    border: 2px solid #f7f302;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #f7f302;
}

.form-control.error input {
    border: 3px solid #f7f302;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #f7f302;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6F175F;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #f7f302;
    transition: 0.3s;
}


footer{
    background-color: #6F175F;
    margin-top: 70px;
    padding: 10px 0;
}

.footer{
    color: #F5D208CF;
    text-align: center;
    font-family: "Sofia", sans-serif;
}